@font-face {
    font-family: "LatoWebHairline";
    src: url("/guess-that-number/assets/fonts/Lato-Hairline.eot"); 
    src: url("/guess-that-number/assets/fonts/Lato-Hairline.eot?#iefix") format("embedded-opentype"), 
         url("/guess-that-number/assets/fonts/Lato-Hairline.woff2") format("woff2"), 
         url("/guess-that-number/assets/fonts/Lato-Hairline.woff") format("woff"), 
         url("/guess-that-number/assets/fonts/Lato-Hairline.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "LatoWebLight";
    src: url("/guess-that-number/assets/fonts/Lato-Light.eot"); 
    src: url("/guess-that-number/assets/fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), 
         url("/guess-that-number/assets/fonts/Lato-Light.woff2") format("woff2"), 
         url("/guess-that-number/assets/fonts/Lato-Light.woff") format("woff"), 
         url("/guess-that-number/assets/fonts/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "LatoWebMedium";
    src: url("/guess-that-number/assets/fonts/Lato-Medium.eot"); 
    src: url("/guess-that-number/assets/fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), 
         url("/guess-that-number/assets/fonts/Lato-Medium.woff2") format("woff2"), 
         url("/guess-that-number/assets/fonts/Lato-Medium.woff") format("woff"), 
         url("/guess-that-number/assets/fonts/Lato-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}