.navbar {
	min-height: 5rem!important;
}

.navbar-item, .navbar-link {
	color: #fff;
}

a.navbar-item:hover, a.navbar-item.is-active, a.navbar-link:hover, a.navbar-link.is-active {
	background-color: transparent;
}

.navbar.is-dark .navbar-menu {
	background-color: #363636;
}

.navbar-item img {
	max-height: 2.5rem;
}

.navbar-item {
	transition: color 0.15s ease;
}

.navbar-item.is-active {
	color: #c1c1c1!important;
}

.navbar-item:hover {
	color: #c1c1c1!important;
}

.hero-footer {
	background-color: rgba(0, 0, 0, 0.15);
	text-align: center;
}

.hero-footer > p {
	margin: 25px;
}

.footer {
	padding-bottom: 48px;
}