extends layout.pug

block content
	.jumbotron.bg-dark.no-border-radius.text-light.padding-bottom-120
		.container
			img.rounded.float-left.bot-avatar(src="/guess-that-number/assets/img/guess-that-number.jpg")
			h3.display-3.lato-hairline Guess That Number
			h5.display-5.lato-light A unique and addicting game in which you have to guess the randomly generated number based on hints.
	.container
		.row
			.col-lg-2
				img.rounded.feature(src="/guess-that-number/assets/img/bookmark.png")
			.col-lg-10
				h1.lato-light Unique
				p There is no other bot like Guess That Number, meaning that this is a very unique bot with features like no other.
		.row.margin-top-40
			.col-lg-2
				img.rounded.feature(src="/guess-that-number/assets/img/worldwide.png")
			.col-lg-10
				h1.lato-light Global Leaderboard
				p The leaderboard for this game is global, so everyone can see how well they are doing against other players within the leaderboard.
		.row.margin-top-40
			.col-lg-2
				img.rounded.feature(src="/guess-that-number/assets/img/database.png")
			.col-lg-10
				h1.lato-light No Data Loss
				p Even if the bot were to randomly restart, your game wouldn't be lost because it's stored within a database that is installed within our VPS.
		.row.margin-top-40
			.col-lg-2
				img.rounded.feature(src="/guess-that-number/assets/img/repeat.png")
			.col-lg-10
				h1.lato-light Fresh Reset
				p Ever feel that the leaderboard is getting unfair, and people are getting very low scores? Don't worry, the leaderboard will reset every 15 days.
		.row.margin-top-40.margin-bottom-40
			.col-lg-2
				img.rounded.feature(src="/guess-that-number/assets/img/layers.png")
			.col-lg-10
				h1.lato-light Difficulties
				p If you feel that you aren't very good at this game, then you can start out small and go big. Each difficulty will change the range of the random number that is generated.