extends layout.pug

block content
    .hero.is-dark.is-medium(style="margin-bottom: 120px;")
        .hero-body
            center
                h1.title Guess That Number
                p.subtitle A unique and addicting game in which you have to guess the randomly generated number based on hints.
        .hero-footer
            p Trusted by 
                b #{servers.toLocaleString()}
                |  servers and 
                b #{users.toLocaleString()}
                |  users
    .container
        .columns
            .column.is-4
                .card
                    .card-image.has-text-centered(style="font-size: 5em;")
                        i.fas.fa-thumbs-up
                    .card-content.has-text-centered
                        h2.title Fun
                        p.subtitle Guess That Number is like no other bot, introducing a new type of game to the table, never seen before.
            .column.is-4
                .card
                    .card-image.has-text-centered(style="font-size: 5em;")
                        i.fas.fa-users
                    .card-content.has-text-centered
                        h2.title Community Based
                        p.subtitle Guess That Number engages your community, making it competetive while your users have a good time.
            .column.is-4
                .card
                    .card-image.has-text-centered(style="font-size: 5em;")
                        i.fas.fa-bookmark
                    .card-content.has-text-centered
                        h2.title Unique
                        p.subtitle Guess That Number introduces a new category of games into Discord, and is like no bot seen before.
        .hero.is-medium
            .hero-body.has-text-centered
                h1.title Invite Guess That Number now...
                p.subtitle Simply invite Guess That Number to your server, and it beings to work right away! No setup or configuration required.
    footer.footer
        .container
            .content.has-text-centered
                p
                    | Made with 
                    span.has-text-danger
                        i.fas.fa-heart
                    |  using 
                    a(href="https://nodejs.org") Node.js
                    | , 
                    a(href="https://abal.moe/Eris") Eris
                    | , 
                    a(href="https://expressjs.org") Express
                    | , 
                    a(href="https://rethinkdb.com") RethinkDB
                    | , and 
                    a(href="https://bulma.io/") Bulma CSS
                    | .