doctype html
html
	head
		title Serenity
		link(rel="stylesheet" href="/css/bulma.css")
		link(rel="stylesheet" href="/css/fa-svg-with-js.css")
		link(rel="stylesheet" href="/css/style.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		nav.navbar.is-transparent.is-dark
			.container
				.navbar-brand
					.navbar-burger.burger(data-target="navbar")
						span
						span
						span
				#navbar.navbar-menu
					.navbar-start
						if page === 1
							a.navbar-item.is-active(href="/")
								| Home
						else
							a.navbar-item(href="/")
								| Home
						if page === 2
							a.navbar-item.is-active(href="/documentation")
								| Documentation
						else
							a.navbar-item(href="/documentation")
								| Documentation
						a.navbar-item(href="/invite")
							| Invite Guess That Number
						a.navbar-item(href="/server")
							| Support Server
						a.navbar-item(href="https://patreon.com/PassTheMayo")
							| Donate
					.navbar-end
						.navbar-item
							.field.is-grouped
								if user && user.isDeveloper
									p.control
										a.button.is-danger(href="/admin")
											| Admin
								p.control
									a.button.is-link(href="/auth" disabled)
										| Dashboard
		block content
	script(type="text/javascript" src="/js/navbar.js")
	script(type="text/javascript" src="/js/fontawesome-all.min.js")